.title-heading{
    color: var(--navy-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.paragraph-heading{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.icon-container {
    display: none;
}

@media screen and (max-width:767px){
    .heading-link{
    max-width: 288px;
    width: 100%;
    } 

    .title-heading{
        text-align: center;
    }
    
    .icon-container{
        display: none;
    }
    
    .menu-heading {
       flex-direction: column;
       gap: 72px;
       display: flex;
    }
}

@media screen and (min-width:768px) {

    .heading-title {
        text-align: left;
    }

    .heading-link {
        width: calc((100% - 24px) / 2);
    }

    .menu-heading{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        display: flex;
    }
}

@media screen and (min-width:1158px) {
   
    .heading .menu-heading {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .title-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .icon-container {
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .heading-link {
        width: calc((100% - 48px) / 4);
    }

    .paragraph-heading{
        font-weight: 400;
    }
}
